body {
  background-color:black;
}
.Title {
  color: royalblue;
  position: absolute;
  top: -12px;
  left: 850px;
  font-weight: 300;
  border: 4px solid black;
}
.ResumeTab {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 15px 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
.GitHubTab {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
.AboutMeTab {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
.LinkdinTab {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
.BackImage {
    margin: 100px auto 50px;
    height: 800px;
    display: block;
}
.BottomImage {
    position: relative;
    top:-12px;
    height: 100px;
    width: 1895px;
}

